<layout name="Index/header_footer" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">角色名称：</td>
                <td>
                    <input  type="text" name="role_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">权限列表：</td>
                <td>
                    <?php foreach($priData as $k => $v): ?>
                    <?php echo str_repeat('-',$v['level'] * 8); ?>
                    <input type="checkbox" name="pri_id[]" value="{$v.id}" level="{$v.level}"/>{$v.pri_name}<br />
                    <?php endforeach;?>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    $(":checkbox").click(function () {
        //获取当前权限的level值
        var cur_level = $(this).attr("level");
        //判断是选中还是取消
        if($(this).attr("checked"))
        {
            var tmplevel = cur_level;
            var allprev = $(this).prevAll(":checkbox");
            $(allprev).each(function (k,v) {
                if($(v).attr("level") < tmplevel)
                {
                    tmplevel--;
                    $(v).attr("checked","checked");
                }
            })
        }
        else
        {
            var allnext = $(this).nextAll(":checkbox");
            $(allnext).each(function (k,v) {
                if($(v).attr("level") > cur_level)
                {
                    $(v).removeAttr("checked");
                }
                else
                {
                    return false;
                }
            })
        }
    })
</script>