<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="__SELF__" method="post" enctype="multipart/form-data">
    商品名称：<input type="text" name="goods_name" value=""><br />
    商品价格：<input type="text" name="price" value=""><br />
    商品logo：<input type="file" name="logo"><br about=""/>
    商品描述：<input type="text" name="goods_desc" value=""><br />
    是否上架：
    <input type="radio" name="is_on_sale" value="1" checked />上架
    <input type="radio" name="is_on_sale" value="0" />下架
    <br />
    <input type="submit" value="提交">
</form>
</body>
</html>